services:
  uniceditor-documentserver:
    image:  cr.yandex/crpst6ndtaf70or2n2bb/uniceditor:latest
    container_name: uniceditor-documentserver
    depends_on:
      - uniceditor-postgresql
      - uniceditor-rabbitmq
    env_file:
      - ./documentserver_env.env
    ports:
      - '8880:80'
      - '8443:443'
    stdin_open: true
    restart: always
    stop_grace_period: 60s
    volumes:
      - /var/www/uniceditor/Data
      - /var/log/uniceditor
      - /var/lib/uniceditor/documentserver/App_Data/cache/files
      - /var/www/uniceditor/documentserver-example/public/files
      - /usr/share/fonts

  uniceditor-rabbitmq:
    container_name: uniceditor-rabbitmq
    image: cr.yandex/crpst6ndtaf70or2n2bb/rabbitmq:latest
    restart: always
    expose:
      - '5672'

  uniceditor-postgresql:
    container_name: uniceditor-postgresql
    image: cr.yandex/crpst6ndtaf70or2n2bb/postgres:12
    environment:
      - POSTGRES_DB=dbname
      - POSTGRES_USER=dbuser
      - POSTGRES_HOST_AUTH_METHOD=trust
    restart: always
    expose:
      - '5432'
    volumes:
      - postgresql_data:/var/lib/postgresql

volumes:
  postgresql_data:

