MONGO_URL=mongodb://username:password@mongodb:27017/database?replicaSet=rs0
MONGO_OPLOG_URL=mongodb://username:password@mongodb:27017/local
ROOT_URL=https://myapp.unic.chat 
UNIC_SOLID_HOST=http://10.0.0.0:8881   
PORT=3000
DEPLOY_METHOD=docker
DB_COLLECTIONS_PREFIX=unicchat_
DOCUMENT_SERVER_HOST=https://myedt.unic.chat
