# Replica Set Configuration
MONGODB_REPLICA_SET_MODE=primary
MONGODB_REPLICA_SET_NAME=rs0
MONGODB_REPLICA_SET_KEY=rs0key
MONGODB_PORT_NUMBER=27017
MONGODB_INITIAL_PRIMARY_HOST=mongodb
MONGODB_INITIAL_PRIMARY_PORT_NUMBER=27017
MONGODB_ADVERTISED_HOSTNAME=mongodb
MONGODB_ENABLE_JOURNAL=true

# Authentication
MONGODB_ROOT_PASSWORD=your_root_password
MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_DATABASE=your_database_name
